body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*** General ***/
.title {
    font-size: 35px;
    margin-bottom: 30px;
}

.limitacoes {
    margin-top: 25px;
    margin-bottom: 25px;
}

.limitacoes {
    font-weight: 700;
}

.limitacoes ul {
    padding-left: 20px;
}

.limitacoes li {
    font-weight: 400;
}

.formula {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.formula img {
    max-width: 100%;
    object-fit: contain;
}

#form-fatorial label {
    margin-right: 10px;
}

#form-fatorial input {
    margin-right: 10px;
}

.resultado {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
}

/*** Mobile ***/
@media screen and (max-width: 576px) {
    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 12px;
    }

    #form-fatorial .btn {
        margin-bottom: 20px;
        margin-top: 15px;
    }
}